---
layout: default
---

    <div class="col-md-9">
        {% for post in paginator.posts %}
          <div>
            <h4><a href="{{ post.url }}"><strong>{{ post.title }}</strong></a>  <small>{{ post.date  | date: "%Y.%m.%d" }}</small></h4>
            <div>
               {{ post.description }}
            </div>
          </div>
         {% endfor %}

        <!-- TODO：添加分页 -->
    </div>

    <div class="col-md-3">
        {% include aboutme.html %}
        {% include categories.html %}
        {% include recently_posts.html %}
        {% include recently_comments.html %}
        {% include blogroll.html %}
    </div>
