{% if site.comments.duoshuo.name %}
<div id="comments">
  <div class="ds-thread" data-thread-key="{{ page.url }}" data-url="{{ site.url }}{{ page.url }}" data-title="{% if page.title %}{{ page.title }}{% endif %}"></div>
</div>
{% endif %}

{% if site.comments.gitalk %}
<div id="comments">
    <div id="gitalk-container"></div>
    <link rel="stylesheet" href="https://unpkg.com/gitalk/dist/gitalk.css">
    <script src="https://unpkg.com/gitalk/dist/gitalk.min.js"></script>
    <script>
    var gitalk = new Gitalk({
    id:'{{ site.url }}{{page.url}}',
    clientID: '{{ site.comments.gitalk.clientID }}',
    clientSecret: '{{ site.comments.gitalk.clientSecret }}',
    repo: '{{ site.comments.gitalk.repo }}',
    owner: '{{ site.comments.gitalk.owner }}',
    admin: ['{{ site.comments.gitalk.admin }}'],
    })
    gitalk.render('gitalk-container')
    </script>
</div>
{% endif %}