    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
        <meta name="author" content="{% if site.author.name %}{{ site.author.name }}{% endif %}"/>
        <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
        <meta name="keywords"  content="{{ site.keyword }}">
        <!-- Open Graph -->
        <meta property="og:title" content="{% if page.title %}{{ page.title }} - {{ site.title }}{% else %}{{ site.title }}{% endif %}">
        <meta property="og:type" content="website">
        <meta property="og:url" content="{{ page.url | prepend: site.url }}">
        <meta property="og:description" content="{{ site.description }}">
        <meta property="og:site_name" content="{{ site.title }}">

        <link rel="shortcut icon" href="{{ BASE_PATH }}/favicon.ico" type="image/x-icon" />
        <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html,'' }}" />
        <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.4/css/bootstrap.min.css" media="all" />
        <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.3.0/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/style.min.css" media="all" />
        <link rel="stylesheet" href="{{ BASE_PATH }}/assets/css/pygments.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="{{ BASE_PATH }}/assets/js/showup/showup.min.css" />

        <meta name="renderer" content="webkit|ie-stand"/>
        <meta name="baidu-site-verification" content="3HAhaWRiyR" />
        <meta name="360-site-verification" content="9b7a87a1d52051c96644f0a9b8b79898" />
        <meta name="sogou_site_verification" content="ofwXWFdthV"/>
        <meta property="wb:webmaster" content="b6081b2b8ab84c60" />

        <script src="https://cdn.staticfile.org/jquery/3.3.1/jquery.min.js"></script>
        <script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>
</head>
