/* ===============================custom.css ================================== */
/* 设置菜单栏icon偏移位置 */
.menu-item-link .iconfont::before {
    padding-right: 3px;
}

/* 设置title字体大小 */
.header .logo-wrapper .logo {
    position: relative;
    font-size: 38px;
    line-height: 60px;
}

/* 让阅读更多居中 */
.read-more {
    text-align: right;
    padding: 0 0 20px;
}

/* 设置文章盒子阴影 */
/*.post {
    padding: 1em 1em;
    margin: 1.0em 0;
    box-shadow: 0 0 5px rgba(202,203,203,.5);
    -webkit-box-shadow: 0 0 5px rgba(202,203,203,.5);
}*/

/* 调整返回顶部icon位置和大小 */
.back-to-top {
    right: 60px;
    bottom: 45px;
    font-size: 4em;
}

/* 设置菜单项的标签、分类页面样式 */
.terms .terms-tags .terms-link {
    margin: 10px 10px;
    border-radius: 50em;
    padding: 5px 10px;
    background-color: #FFF2AB;
}

/* 设置菜单项的标签、分类页面的统计数字样式 */
.terms .terms-tags .terms-link .terms-count {
    top: -2px;
    right: -1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
    color: #fff;
}
